/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */
.noMargin {
    margin: 0 !important;
}
.noPadding {
    padding: 0 !important;
}
.card-body {
    padding: 25px !important;
}
h3,
h4,
h5 {
    color: #0b0c17;
}
td,
th {
    text-align: center;
}
.row {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-body {
    margin-bottom: 40px;
}
#example_paginate {
    position: absolute !important;
    right: 0 !important;
    margin-top: 15px;
}
#example_info {
    margin-top: 15px;
}
#example_filter {
    position: absolute !important;
    right: 20px;
    bottom: -10px;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}
#example_wrapper {
    /* margin: 35px; */
}
span,
.table:not(.table-sm) thead th {
    color: #168141 !important;
}
@media (min-width: 1600px) {
    /* .text-right {
    position: absolute !important;
    right: 20px;
    bottom: -15px;
  } */
    .table-responsive {
        display: block;
        width: 100%;
        overflow: hidden;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }
    .card-footer.text-right {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
}

/* .customForm .form-group {
	border: 1px solid #078258;
	width: 100%;
	padding: 10px 20px;
	margin: -1px;
  font-family: arial;
} */

.ccp p {
    margin-bottom: 0 !important;
}
.pp2 {
    width: 100%;
    margin-top: 10px;
}
/*# sourceMappingURL=custom.css.map */
/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
}

/*
 Styling
*/
body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

.tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
}

.tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
    color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #06c;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
}

.tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

.tabset {
    max-width: 65em;
}

.badge.badge-primary.badge-pill {
    color: white !important;
}

#map {
    width: 100% !important;
    height: 100vh !important;
    background: gray !important;
}
.overlay {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    padding: 1em !important;
    background: #fff !important;
}
.overlay li {
    margin: 1em 2em 1em 0.5em !important;
    cursor: pointer !important;
}
th {
    font-size: 20px;
    font-weight: bold;
}
td {
    font-size: 17px;
    font-weight: 400;
}
.sidebar-menu li .nav-link .fas {
    color: #168141;
}
.nav-link span {
    font-size: 17px;
    font-weight: bolder;
}
.alert-warning span {
    color: black !important;
}
.card.card-statistic-2 {
    height: 110px;
}
#map-canvas {
    position: relative !important;
    overflow: hidden !important;
    margin: 0 auto;
    height: 500px;
    width: 1000px;
}
#logout-form input {
	background: transparent;
	border: 1px transparent;
	padding: 0;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.5px;
	color: white;
}